*.tmp
*.bak
*.zip
*.MPQ
*.html
*.url
*.avi
*.wtf

/enUS/Documentation/*
/enUS/Interface/*
/frFR/Documentation/*
/frFR/Interface/*

!/enUS/
!/enUS/patch-enUS-7.MPQ
!/enUS/patch-enUS-7.MPQ/
!/enUS/patch-enUS-7.MPQ/*
!/enUS/patch-enUS-7.MPQ/**/*

!/frFR/patch-frFR-7.MPQ
!/frFR/patch-frFR-7.MPQ/
!/frFR/patch-frFR-7.MPQ/*
!/frFR/patch-frFR-7.MPQ/**/*
